flows.json
[{"id":"bc0e25eb.5f0168","type":"tab","label":"RF Plugs","disabled":false,"info":""},{"id":"39989252.b1884e","type":"tcp out","z":"bc0e25eb.5f0168","host":"192.168.0.68","port":"60000","beserver":"client","base64":false,"end":false,"name":"Transmit Codes and Times","x":900,"y":700,"wires":[]},{"id":"f0a50799.425248","type":"function","z":"bc0e25eb.5f0168","name":"RF A Plug","func":"if(msg.command == \"TurnOnRequest\"){\n    msg.payload = a_on;\n}else{\n        msg.payload = a_off;\n\n}\nmsg.payload = msg.payload +\":\"+short_delay+\":\"+long_delay+\"\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nshort_delay = '0.000270';\nlong_delay = '0.001';\na_on = '1111111111111010101011101'\na_off = '1111111111111010101010111'\n\n","finalize":"","x":620,"y":620,"wires":[["39989252.b1884e"]]},{"id":"9f5374ed.d332a8","type":"function","z":"bc0e25eb.5f0168","name":"RF C Plug","func":"if(msg.command == \"TurnOnRequest\"){\n    msg.payload = c_on;\n}else{\n        msg.payload = c_off;\n\n}\nmsg.payload = msg.payload +\":\"+short_delay+\":\"+long_delay+\"\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nshort_delay = '0.000270';\nlong_delay = '0.001';\nc_on  = '1111111111101011101011101'\nc_off = '1111111111101011101010111'\n\n","finalize":"","x":630,"y":740,"wires":[["39989252.b1884e"]]},{"id":"eb5e9e67.f8676","type":"function","z":"bc0e25eb.5f0168","name":"RF D Plug","func":"if(msg.command == \"TurnOnRequest\"){\n    msg.payload = d_on;\n}else{\n        msg.payload=d_off;\n\n}\nmsg.payload = msg.payload +\":\"+short_delay+\":\"+long_delay+\"\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nshort_delay = '0.000270';\nlong_delay = '0.001';\nd_on = '1111111111101010111011101'\nd_off = '1111111111101010111010111'\n\n","finalize":"","x":630,"y":800,"wires":[["39989252.b1884e"]]},{"id":"368fe0da.1b6b3","type":"alexa-home","z":"bc0e25eb.5f0168","conf":"81461b04.a7b598","device":"152899","acknoledge":true,"name":"TV","topic":"Bedroom","x":330,"y":620,"wires":[["f0a50799.425248","c844a739.f01ed8"]]},{"id":"41375376.4deb6c","type":"alexa-home","z":"bc0e25eb.5f0168","conf":"81461b04.a7b598","device":"152900","acknoledge":true,"name":"Lamp","topic":"Bedroom","x":330,"y":680,"wires":[["c844a739.f01ed8","b14c5a87.a5f558"]]},{"id":"c844a739.f01ed8","type":"debug","z":"bc0e25eb.5f0168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]},{"id":"b14c5a87.a5f558","type":"function","z":"bc0e25eb.5f0168","name":"RF B Plug","func":"if(msg.command == \"TurnOnRequest\"){\n    msg.payload = rf_on;\n}else{\n        msg.payload = rf_off;\n\n}\nmsg.payload = msg.payload +\":\"+short_delay+\":\"+long_delay+\"\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nshort_delay = '0.000270';\nlong_delay = '0.001';\nrf_on  = '1111111111101110101011101'\nrf_off = '1111111111101110101010111'\n\n","finalize":"","x":630,"y":680,"wires":[["39989252.b1884e"]]},{"id":"180ff8b0.eb0a27","type":"alexa-home","z":"bc0e25eb.5f0168","conf":"81461b04.a7b598","device":"152902","acknoledge":true,"name":"Fan","topic":"Bedroom","x":330,"y":740,"wires":[["9f5374ed.d332a8","c844a739.f01ed8"]]},{"id":"81461b04.a7b598","type":"alexa-home-conf","z":"","username":"USERNAME"}]